.div{
    background-color: aqua;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
   
    
}

#id1{
    background-color: yellowgreen;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#btn{
    padding: 90px;
    /* padding-left: 60px; */

    /* padding-left: 10px; */
    margin-left: 680px;

    /* align-items: ; */
    /* text-align: left; */


    /* padding-left: 20px; */

    

    color: blue;
}